{% extends "_base.html" %}
{% block body %}

<h1>Training and testing</h1>

<p>
  Before putting your NoSpam service in production, you should train
  it using samples of ham/spam comments. NoSpam provides tools for you
  to do so.
</p>

<p>
  The scripts in the <tt>train/</tt> directory allow for training and
  testing the service using pre-existing data. It is expected that
  this data will be formatted as a stream of pickled Python
  dictionaries, each having the attributes required by the
  <tt>testComment()</tt> method, plus a <em>train</em> attribute (as
  used in <tt>classifyComment()</tt>) which is required to train on
  the dataset.
</p>

<p>
  A simple script to generate training data from a (multisite)
  Wordpress installation is provided in <tt>train/wpdump.py</tt>.
</p>

{% endblock %}
