<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>NoSpam</title>
  <style type="text/css">
body { background: white; color: #222; font-family: sans-serif; margin: 0;
       padding: 1ex 20%; border-top: 6px solid #555; }
h1 { font-family: arial; letter-spacing: -0.1em; font-size: 36px; }
.nav { float: right; }
.nav a { text-decoration: none; font-weight: bolder; font-size: 1.2em; 
         margin: 0 0 8px 8px; padding: 1px; border: 2px solid white; }
.nav a:hover { border-bottom: 2px solid black; }
  </style>
</head>
<body>
<div class="nav">
  <a href="/">Home</a>
  <a href="/docs/about">About</a>
  <a href="/docs/api">API</a>
  <a href="https://git.autistici.org/ai/nospam">Code</a>
</div>
<div class="container">
{% block body %}
{% endblock %}
</div>
</body>
</html>
