{% extends "_base.html" %}
{% block body %}
  <h1>NoSpam</h1>

  <p>
    Has successfully recognized <b>{{ num_spam }}</b> spam comments.<br/>
    (That's <b>{{ '%.3g' % pct_spam }}%</b> of all comments seen)
  </p>
{% endblock %}
